body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-navigation li {
  margin-right: 25px;
}

.user-navigation li {
  margin-right: 10px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

/*.contacts верно?*/
.contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;

  text-align: right;
}

.contacts a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.promo-header-gallery figcaption {
  text-align: center;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  color: #ffffff;
}

.link-button-large {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.slide-switches {
  list-style: none;
}

.news-list {
  list-style: none;
}

.news-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.news-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.link-button-medium{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.unit {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.features-list {
  list-style: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.features-item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog {
  background-color: #f8f7f4;
  background-image: url("img/strawberry.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscription {
  background-color: #f8f7f4;
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.map-contacts {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #323232;
}

.map-contacts a {
  text-decoration: none;
  color: #323232;
}

/* ----- Сеточные стили ----- */

html,
body {
  width: 1200px;
}

.main-header {
  /* Временно для сетки*/
  width: 100%;
  padding: 0 27px;

  display: flex;
  flex-direction: column;
}

.main-navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 25px;
}

.site-navigation {
  width: 700px;
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
  align-items: center;

  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  /* Здесь не надо задавать ширину? */
  margin: 0;
  margin-left: auto;
  padding: 0;

  display: flex;
  align-items: center;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
}
.contacts {
  margin-left: auto;
}
